.tooltip {
  height: 28px;
  padding: 0 8px;
  background-color: var(--color-bg-surface);
  border: 1px solid var(--color-border-default);
  color: var(--color-text-default);
  border-radius: var(--border-radius-base);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  box-shadow: var(--shadow-elevation-base);
}