.sidebar {
  height: 100%;
  flex: 1;
  flex-shrink: 0;
  border-right: 1px solid var(--sidebar-border-color);
  background-color: var(--sidebar-bg-color);
  position: relative;
  isolation: isolate;
  box-shadow: var(--shadow-elevation-base);

  display: flex;
  flex-direction: column;

  --collapsed-width: 60px;
  --expanded-width: 275px;
  --sidebar-padding: 16px;

  --sidebar-border-color: var(--color-border-default);
  --sidebar-bg-color: var(--color-bg-surface);

  &:not(.collapsed) {
    width: var(--expanded-width);
  }

  &.collapsed {
    width: var(--collapsed-width);

    .sidebar__item {
      width: 100%;
      aspect-ratio: 1 / 1;
      padding: 0;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .sidebar__group_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
    }

    .sidebar__group {
      padding-inline: calc(var(--sidebar-padding) / 2);
      padding-top: calc(var(--sidebar-padding) / 2);
    }
  }
}

.sidebar__resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
  z-index: 10;
  transition: background-color 0.1s ease-in-out;

  &:focus-visible {
    outline: none;
    border-right: 1px solid var(--color-border-active);
  }

  &.resizing,
  &:hover {
    background-color: rgba(from var(--color-border-default) r g b / 0.5);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
    width: 9px;
  }
}

.sidebar__header {
  height: var(--collapsed-width);
  padding: var(--sidebar-padding);
  display: flex;
  flex-shrink: 0;
  gap: calc(var(--sidebar-padding) / 2);
}

.sidebar__menu {
  flex: 1;
  overflow-y: auto;
}

.sidebar__separator {
  height: 1px;
  background-color: var(--color-border-default);
  width: 100%;
  margin-bottom: calc(var(--sidebar-padding) / 2);
}

.sidebar__group {
  padding-top: var(--sidebar-padding);
  padding-inline: var(--sidebar-padding);

  &:first-child .sidebar__separator {
    display: none;
  }
}

.sidebar__group_header {
  font-size: 12px;
  font-weight: 600;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-secondary);
  margin-bottom: calc(var(--sidebar-padding) / 2);
}

.sidebar__group_toggle {
  border: none;
  background: transparent;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius-base);
  transition: background-color 0.1s ease-in-out;
  color: var(--color-text-default);
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: var(--color-bg-hover);
  }
}

.sidebar__group_content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--sidebar-padding) / 4);
}

.sidebar__item {
  height: var(--component-size-md);
  display: flex;
  align-items: center;
  gap: calc(var(--sidebar-padding) / 2);
  padding: 0 calc(var(--sidebar-padding) / 2);
  margin-inline: calc(calc(var(--sidebar-padding) / 2) * -1);
  border-radius: var(--border-radius-base);
  color: var(--color-text-default);
  text-decoration: none;
  transition: background-color 0.1s ease-in-out;
  background-color: transparent;
  border: none;

  &:hover {
    background-color: var(--color-bg-hover);
  }
}

.sidebar__item_label {
  flex: 1;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar__item_icon {
  height: 16px;
  width: 16px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}